html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid black;
}

div {
    border: 1px solid blue;
}

.header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    flex: 1;
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: top;
}

.right_pane {
    padding: 10px;
    flex: 1;
    flex-grow: 2.5;
}

.round {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.round__choice {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-grow: 2;
    border-radius: 10px;
}

.round__choice__rps {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.round__choice__rps-option {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img {
    max-width: 70%;
    max-height: 70%;
}

.rock {
    margin-left: -10%;
}

.paper {
    margin-right: -5%;
}

.round__choice__icon, .round__choice__points {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.round__choice__icon {
    margin-right: 10px;
}

.round__choice__points {
    margin-left: 10px;
}

.round__result {
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.round__result-text {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.round__result-next {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}


.left_pane {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rules {
    flex: 1;
    border-radius: 10px;
}

.rules__header, .game_log__header {
    padding: 5px;
    border-bottom: 2px solid black;
}

.rules__text {
    flex: 1;
    flex-grow: 3;
}

.game_log {
    flex: 1;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.game_log__text{
    flex: 1;
    flex-grow: 4;
}

